<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor de imagens</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <header>
    <div id = "cabeçalho">
      <h1>Pejumi Photo Editor</h1>
    </div>
  </header>

  <div class="container-fluid">
    <div id = "menuEsq">

      <div class="accordion" id="accordionEfeitos">
        <div class="accordion-item">
          <h2 class="accordion-header" >
            <button class="accordion-button" id = "accordionButtonEfeitos" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Efeitos
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-primary">Passa Alta I</button>
                <button type="button" class="btn btn-primary">Passa Alta II</button>
                <button type="button" class="btn btn-primary">Passa Baixa I</button>
                <button type="button" class="btn btn-primary">Passa Baixa II</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button id = "sobreNos" type="button" class="btn btn-primary">Sobre Nós</button>
    </div>






    <div id = "pagina">
      <div id = "imgEnviada">
        <p> imagem do usuario aqui </p>
      </div>

      <div id = "imgAlterada">
        <p> imagem com filtros aplicados </p>
      </div>
    </div>
  </div>






  <body>


  </body>
  <script src = "../scripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
